<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203046171658-p7d49fut1merhunj785keufod3jcs821.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203046171658-p7d49fut1merhunj785keufod3jcs821</string>
	<key>API_KEY</key>
	<string>AIzaSyANvLMSEwgX0AjmXOTwiyZzA3UM1q9yIqg</string>
	<key>GCM_SENDER_ID</key>
	<string>203046171658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gk.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gharkharcha-a1a1c</string>
	<key>STORAGE_BUCKET</key>
	<string>gharkharcha-a1a1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203046171658:ios:24cc0126e3f147360adbf3</string>
</dict>
</plist>